{
  "extends": "airbnb-base",
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "func-names": 0,
    "no-param-reassign": 0,
    "no-mixed-operators": [2, {
      "allowSamePrecedence": true
    }]
  }
}
