* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline-offset: 3px;
}

*:focus {
  outline: 3px solid #ffffff;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 24px;
  min-height: 100vh;
  background: #f1c40f;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  background: #1abc9c;
}

@media screen and (max-width: 768px) {
  section {
    padding: 25px;
  }
}

section:nth-child(2n) {
  background: #16a085;
}

.panels section {
  background: #f1c40f;
  min-height: 100%;
}

.panels section:nth-child(2) {
  min-height: 150%;
}

.panels section:nth-child(2n) {
  background: #f39c12;
}

.panels.horizontal {
  display: flex;
}

.panels.horizontal section {
  min-height: 0;
  min-width: 100%;
}

.panels.horizontal section:nth-child(2) {
  min-width: 150%;
}

section .explanation,
section pre {
  background: #16a085;
}

section:nth-child(2n) .explanation,
section:nth-child(2n) pre {
  background: #1abc9c;
}

section.introduction {
  align-items: center;
  justify-content: center;

  background: none;
}

section.introduction:after {
  display: block;
  position: absolute;
  top: -200%;
  left: -150%;
  height: 500%;
  width: 200%;

  background: #f39c12;
  content: '';

  z-index: -1;

  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;

  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);

}

section.introduction .center {
  text-align: center;
}

section.introduction .center p {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

section.introduction .center p a {
  word-break: break-all;
}

section.introduction .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;

  text-align: center;
  font-size: 60%;
}

section.introduction .bottom:after {
  display: block;
  margin: 1em auto 0;
  height: 20px;
  width: 20px;

  border-right: 1px solid;
  border-bottom: 1px solid;
  content: '';

  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

section.options,
section.options_explained {
  min-height: 100vh;
  height: auto;
}

h1 {
  font-weight: inherit;
  text-transform: uppercase;
  font-size: 300%;
  margin: 0 0 25px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 200%;
  }
}

h2 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
}

button {
  font: inherit;
  text-align: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  cursor: pointer;

  display: block;
  margin: 0 0 25px 0;
  width: 100%;
  padding: 25px;
  background: #f1c40f;
  outline-offset: -3px;
}

button.active,
button:active,
button:hover {
  background: #f39c12;
}

button.disabled {
  background: #7f8c8d;
}

.group {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: -25px;
}

.group > * {
  margin: 25px;
}

.panels,
pre {
  flex-grow: 99999;
  flex-basis: 300px;
}

.panels {
  overflow: auto;
}

.explanation,
pre {
  margin: 0;
  overflow-x: auto;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .explanation,
  pre {
    padding: 25px;
  }
}

.explanation dt,
pre {
  font-size: 80%;
  font-family: Ubunutu Mono, monospace;
}

.explanation {
  flex-grow: 1;
}

.explanation dt:after {
  content: ':';
}

.explanation dd {
  margin: 0 0 0 10px;
}

.explanation dd + dt {
  margin: 25px 0 0;
}

.aside {
  flex-grow: 1;
  flex-basis: 300px;
}

.aside > *:first-child {
  margin-top: 0;
}

.aside > *:last-child {
  margin-bottom: 0;
}
